@model ShoppingCartVM

@{
    ViewData["Title"] = "Game Details";
}


@functions {
    public string GenerateStarRatingHtml(int rating)
    {
        int emptyStars = 5 - rating;
        string stars = "";

        for (int i = 0; i < rating; i++)
        {
            stars += @"<i class='bi bi-star-fill text-warning'></i>";
        }
        for (int i = 0; i < emptyStars; i++)
        {
            stars += @"<i class='bi bi-star text-warning'></i>";
        }

        return stars;
    }
}



<form method="post">
    <input asp-for="Game.Id" hidden />

    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Game.Title</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-secondary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">

                        @if (Model.Game.GameMedias != null && Model.Game.GameMedias.Count() > 0)
                        {
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                    @foreach (var mediaWithIndex in Model.Game.GameMedias.Select((media, index) => new { Media = media, Index = index }))
                                    {
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@mediaWithIndex.Index" class="@(mediaWithIndex.Index == 0 ? "active" : "")" aria-current="true" aria-label="Slide 1"></button>
                                    }
                                </div>
                                <div class="carousel-inner">
                                    @foreach (var mediaWithIndex in Model.Game.GameMedias.Select((media, index) => new { Media = media, Index = index }))
                                    {
                                        <div class="@(mediaWithIndex.Index == 0 ? "carousel-item active" : "carousel-item")">
                                            @if (mediaWithIndex.Media.MediaType == "image")
                                            {
                                                <img src="@mediaWithIndex.Media.MediaUrl" class="d-block w-100" height="350px" alt="..." />
                                            }
                                            else if (mediaWithIndex.Media.MediaType == "video")
                                            {
                                                @if (mediaWithIndex.Media.MediaUrl.Contains("youtube"))
                                                {
                                                    <iframe class="d-block w-100" height="350px" src="@mediaWithIndex.Media.MediaUrl"
                                                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                            allowfullscreen>
                                                    </iframe>
                                                }
                                                @if (mediaWithIndex.Media.MediaUrl.Contains("games"))
                                                {
                                                    <video class="d-block w-100" height="350px" controls>
                                                        <source src="@mediaWithIndex.Media.MediaUrl" type="video/mp4">
                                                    </video>
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        }


                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="col-12 col-md-6 pb-4">
                            <span class="badge fs-6" title="Game Platform">@Model.Game.Platform</span>
                        </div>
                        <div class="row ps-2 mt-1">
                            <h6 class="text-dark text-opacity-75 fw-medium">
                                <span class="text-warning">Genre:&nbsp;</span>
                                @Model.Game.Genre.Name
                            </h6>
                        </div>
                        <div class="row ps-2 mt-1">
                            <h6 class="text-dark text-opacity-75 fw-medium">
                                Release Date:&nbsp;
                                <span class="text-warning">
                                    @Model.Game.ReleaseDate
                                </span>
                            </h6>
                        </div>
                        <div class="row ps-2 mt-1">
                            <h6 class="text-dark text-opacity-75 fw-medium pb-1">
                                <span class="text-warning">Quantity:&nbsp;</span>
                                @(Model.Game.Quantity > 0 ? @Model.Game.Quantity : @Html.Raw("<span class='text-danger text-opacity-100'>Out of Stock!</span>"))
                            </h6>
                        </div>
                        <div class="row ps-2 mt-1">
                            @if (Model.GameRating != null && Model.GameRating.Count > 0)
                            {
                                var currentGameRating = 0.0;
                                var count = 0;
                                @foreach (var rating in Model.GameRating)
                                {
                                    currentGameRating += rating.Rating;
                                    count++;
                                }
                                @if (currentGameRating != 0 && count != 0)
                                {
                                    var ans = (int)Math.Round(currentGameRating / count);
                                    <h6 class="text-dark text-opacity-75 fw-medium pb-2">
                                        Ratings: &nbsp;
                                        <span>
                                            @Html.Raw(GenerateStarRatingHtml(ans))
                                        </span>
                                    </h6>
                                }
                            }
                            else
                            {
                                <p class="text-dark text-opacity-75 fw-medium pb-2 text-center">No Ratings Available</p>
                            }
                        </div>

                        <div class="border-bottom border-2 mt-3 w-50"></div>

                        <div class="row pl-2 mt-3 mb-1">
                            <p class="text-secondary lh-sm">@Html.Raw(Model.Game.Description)</p>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit"
                                        class="btn btn-secondary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        @if (Model?.GameRating != null && Model?.GameRating?.Count > 0)
        {
            <div class="row mt-3 mb-4">
                <div class="col-10 offset-lg-1">
                    <h3 class="fw-bolder text-warning mb-2">Reviews:</h3>
                    @foreach (var rating in Model.GameRating)
                    {
                        <div class="border rounded p-3 mb-3" style="background-color: #FBFBFB">
                            <h6 class="fw-bolder text-uppercase mb-2">@rating.ApplicationUser.Name</h6>
                            <div class="rounded p-3 pb-1" style="background-color: #E7E7E7">
                                @Html.Raw(rating.Review)
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</form>
